@use './design/tokens/tokens.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: var(--font-family-sans);
  line-height: 1.5;
  font-weight: var(--font-weight-normal);
  color-scheme: light dark;
}

body {
  margin: 0;
  min-height: 100vh;
}
